* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background: linear-gradient(135deg, #0f172a, #1e293b);

  font-family: Arial, Helvetica, sans-serif;

  color: white;
}

main {
  width: 100%;
  display: flex;
  justify-content: center;
}

.machine {
  width: 90%;
  max-width: 600px;

  background-color: #1e293b;

  padding: 2rem;

  border-radius: 20px;

  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.4);
}

.titre {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.description {
  text-align: center;
  color: #cbd5e1;
  margin-bottom: 2rem;
  line-height: 1.6;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

form div {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 0.5rem;
  font-weight: bold;
}

input,
select {
  padding: 0.9rem;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
}

input,
select {
  background-color: #334155;
  color: white;
  outline: none;
  transition: all 0.3s ease;
}

input::placeholder {
  color: #94a3b8;
}

input:focus,
select:focus {
  box-shadow: 0 0 12px #38bdf8;
}

button {
  padding: 1rem;
  border: none;
  border-radius: 10px;

  background: linear-gradient(135deg, #2563eb, #38bdf8);

  color: white;
  font-size: 1rem;
  font-weight: bold;

  cursor: pointer;

  transition: all 0.3s ease;
}

button:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 20px rgba(56, 189, 248, 0.4);
}

button:active {
  transform: scale(0.98);
}

.cache {
  display: none;
}

#resultat {
  text-align: center;
}

#resultat h2 {
  margin-bottom: 1rem;
}

#message {
  margin-bottom: 1.5rem;
  font-size: 1.2rem;
  line-height: 1.6;
}